body {
	margin: 0px !important;
}

header h1 {
	background-color: rgba(140,230,104,0.8);
	padding-left: 10px;
	color: #000;
	margin-top: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

footer {
  margin-top: 5px;	
  padding-left: 10px;
  border-top: 1px #000 solid;  
}

section {
	margin-left: 50px;
	margin-right: 50px;		
}

.alinharTexto td {
	text-align: center;		
}

.alinharTexto th {
	text-align: center;		
}

.botaoMarginBottomGrande {
	margin-bottom: 20px !important;
}